@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: black !important;
    font-family: "DM Sans", sans-serif !important;
}

.ui.large.secondary.inverted.menu {
    font-size: 1.2rem; 
    font-family: "DM Sans", sans-serif !important;
    font-weight: 400;
}

.ui.huge.primary.button {
    font-size: 1.5rem;
    border-radius: 24px;
    background-color: #ffffff;
   /* box-shadow: 0 8px 50px -4px #ffffff; */
}


.ui.huge.header.s1 {
    font-size: 5em;
    font-family: "DM Sans", sans-serif !important;
    font-weight: 500;
}

.ui.huge.header.s2 {
    font-size: 3em; 
    text-align: left;
    font-family: "DM Sans", sans-serif !important;
}

#center {
    font-size: 1.2em;
    text-align: left;
}

.ui.text.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ui.segment {
    margin-top: 0;
    margin-bottom: 0;
}

#quote, .qq {
    font-family: 'DM Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
}

.qq {
    font-weight: 700;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about.text {
    text-align: left;
}

.ui.inverted.center.aligned.segment.top {
    background: #030717;
    background-image: linear-gradient(0deg, #030717 0%, #1d2130 100%);
    background-image: url('../images/segment1-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ui.inverted.center.aligned.segment.testimonials {
    background: #030717;
    background-image: linear-gradient(180deg, #030717 0%, #1d2130 100%); 
    background-image: url('../images/segment1-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 .ui.segment.center.aligned.about.about {
    background-image: url('../images/ireland.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.ui.inverted.center.aligned.segment.contact.page {
    width: 100%;
    height: 100%;
    background: #030717;
    background-image: linear-gradient(0deg, #030717 0%, #1d2130 100%);
    background-image: url('../images/segment1-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ui.email.container {
    margin-top: 200px; 
    margin-bottom: 100px;
}

.bars {
    display: none !important;
}

.move-image-side-to-side {
    animation: moveImages 5s linear infinite;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes moveImages {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(-40%);
    }
}

@media (max-width: 768px) {
    .desktop, .tablet {
        display: none !important;
    }
    .bars {
        display: block !important;
        margin-right: 0px !important;
    }
    .ui.huge.header.s1 {
        font-size: 3.5em;
    }
   /* .ui.inverted.huge.header.tm-header {
        display: none;
    }
    */
    .move-image-side-to-side {
        animation: none;
    }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 1s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.tt {
    margin-top: 50px;
}

#dropdownMenu {
    display: none;
    /* Additional styling for the dropdown */
}

.ui.inverted.grid.stackable.segment.portfolio {
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    background-color: #000000  !important;
}

.ui.faq.grid.stackable.container.centered-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ui.inverted.huge.header.tm-header {
    font-size: 3rem;
}

html {
    scroll-behavior: smooth !important;
}

/* button = #271eb4
bg = #04041b
inner text = #dfe4f1
outer text = #ffffff
optional=171657
*/
