body {
    background-color: black !important;

}

.ui.large.secondary.inverted.menu {
    font-size: 1.2rem; 
}

.ui.huge.primary.button {
    font-size: 1.5rem;
    border-radius: 24px;
    background-color: #271eb4;
    box-shadow: 0 8px 50px -4px #271eb4;
}


.ui.huge.header.s1 {
    font-size: 5em;
}

.ui.huge.header.s2 {
    font-size: 3em;
    text-align: left;
}

#center {
    font-size: 1.2em;
    text-align: left;
}

.ui.text.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ui.segment {
    margin-top: 0;
    margin-bottom: 0;
}

#quote {
    font-size: 1.2em;
    font-family: serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about.text {
    text-align: left;
}

.ui.inverted.center.aligned.segment.top {
    background: rgb(4,4,27);
    background: linear-gradient(0deg, rgba(4,4,27,1) 0%, rgba(22,21,82,1) 100%); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ui.inverted.center.aligned.segment.testimonials {
    background: rgb(4,4,27);
    background: linear-gradient(180deg, rgba(4,4,27,1) 0%, rgba(22,21,82,1) 100%); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 .ui.segment.center.aligned.about.about {
    background-image: url('../images/ireland.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.ui.inverted.center.aligned.segment.contact.page {
    width: 100%;
    height: 100%;
    background: rgb(4,4,27);
    background: linear-gradient(0deg, rgba(4,4,27,1) 0%, rgba(22,21,82,1) 100%); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ui.email.container {
    margin-top: 200px; 
    margin-bottom: 100px;
}

.bars {
    display: none !important;
}

.move-image-side-to-side {
    animation: moveImages 5s linear infinite;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes moveImages {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(-40%);
    }
}

@media (max-width: 768px) {
    .desktop, .tablet {
        display: none !important;
    }
    .bars {
        display: block !important;
        margin-right: 0px !important;
    }
    .ui.huge.header.s1 {
        font-size: 3.5em;
    }
   /* .ui.inverted.huge.header.tm-header {
        display: none;
    }
    */
    .move-image-side-to-side {
        animation: none;
    }
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 1s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.tt {
    margin-top: 50px;
}

#dropdownMenu {
    display: none;
    /* Additional styling for the dropdown */
}

.ui.inverted.grid.stackable.segment.portfolio {
    margin: 0 !important;
    justify-content: center;
    align-items: center;
    background-color: #04041b !important;
}

.ui.faq.grid.stackable.container.centered-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ui.inverted.huge.header.tm-header {
    font-size: 3rem;
}

html {
    scroll-behavior: smooth !important;
}

/* button = #271eb4
bg = #04041b
inner text = #dfe4f1
outer text = #ffffff
optional=171657
*/
